<a>
	<span class="list-item"><%= name %></span>
</a>
<select>
	<option value="0.5">0.5</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
</select>
<a class="delete-job" data-job-name="<%= name %>"><span>x</span>

