$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    color: #9d9d9d;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    height: 100%;
}

.columns {
    height: 90%;
}

.row {
    height: 400px;
    margin: 0;
}

.footer {
    bottom: 0;
    position: absolute;
}

.content {
    height: 100vh;
}

/* Page Header */
.page-header {
    height: 10%;
    margin: 0;
    padding-left: 40px;
}

.page-header h3 {
    margin-bottom: 5px;
}

/* Calendar */
#calendar {
    background: #efefef;
}

.ui-datepicker {
    background: white;
    width: 100%;
}

.ui-datepicker .ui-datepicker-header {
    background-color: #526e82;
    color: #fff;
    font-weight: 300;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 20px;
}

.ui-datepicker .ui-datepicker-prev {
    background: transparent url('../images/calendar-prev.png') no-repeat 0 0;
    background-size: 100%;
    display: inline-block;
    height: 13px;
    left: 15px;
    width: 8px;
}

.ui-datepicker .ui-datepicker-next {
    background: transparent url('../images/calendar-next.png') no-repeat 0 0;
    background-size: 100%;
    display: inline-block;
    height: 13px;
    right: 15px;
    width: 8px;
}

.ui-datepicker .ui-datepicker-prev:hover {
    left: 15px;
    top: 20px;
}

.ui-datepicker .ui-datepicker-next:hover {
    right: 15px;
    top: 20px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: none;
}


.ui-datepicker-month {
    display: block;
}

.ui-datepicker-calendar thead {
    background-color: #4cd9c0;
    color: #3dad99;
}

.ui-datepicker td {
    cursor: pointer;
}

.ui-datepicker td a {
    color: #9d9d9d;
}

.ui-datepicker td span, 
.ui-datepicker td a {
    padding: .5em;
    text-align: center;
}

.ui-datepicker td span:hover, 
.ui-datepicker td a:hover,
.ui-datepicker td.ui-datepicker-current-day a {
    background-color: #ff8989;
    color: #fff;
}

@-webkit-keyframes rollIn {
      0%   { opacity: 0; margin-left: 200px; }
      100% { opacity: 1; margin-left: 0; }
}

/* Employees List */
#employees {
    background: #efefef;
}

.employees-list {
    width: 100%;
}

.employees-list button, .employees-list h5 {
    -webkit-animation: rollIn .2s 0 ease-out;
}

.titles {
    display: block;
    font-size: .7em;
    font-weight: 400;
}

.btn {
    padding-left: 1em;
    text-align: left;
}

.btn-default:hover {
    background: #ff8989;
    color: #fff;
}

.btn-default a {
    color: #9d9d9d;
    font-weight: 700;
}

.btn-default a:hover {
    text-decoration: none;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}

.avatars {
    float: left;
    height: 45px;
    margin-right: 1em;
    width: 45px;
}


.employees-list .current {
    background: #ff8989;
}

.employees-list .current a {
    color: #fff;
}


/* Individual Employee Detail */
#employee-detail {
    background: #efefef;
}

#jobs-search-menu {
    position: absolute;
    top: 0;
    width: 100%;
}

#employee-jobs ul,  #job-search-menu div {
    -webkit-animation: rollIn .2s 0 ease-out;
}

.search-icon {
    background: transparent url('../images/search.png') no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 34px;

}

#searchText {
    border: none;
    height: 30px;
    padding-left: 10px;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

#employee-jobs {
    margin-top: 40px;
}

#employee-jobs ul {
    background: #fff;
    border-collapse: collapse;
    display: table;
    list-style: none;
    -webkit-padding-start: 0;
    width: 100%;
}

#employee-jobs ul li {
    border-bottom: 1px solid #9d9d9d;
    display: table-row;
    line-height: 40px;
}

.jobs-list .list-item {
    padding-left: 10px;
}

.jobs-list select {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}


.delete-job {
    background: #4cd9c0;
    float: right;
    color: #fff;
    height: 100%;
    text-align: center;
    width: 40px;
}

.delete-job:hover {
    background: #ff8989;
    color: #fff;
    text-decoration: none;
}

.dropdown-menu .delete-job, .dropdown-menu select {
    display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
