$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.container-fluid {
    height: 100%;
}

.columns {
    height: 100%;
}

.row {
    height: 400px;
    margin: 0;
}

.footer {
    bottom: 0;
    position: absolute;
}

#jobs-search-menu {
    position: absolute;
    top: 0;
    width: 100%;
}

#employee-detail {
    margin-left: 100px;
}

#employee-jobs {
    margin-top: 40px;
}

#employee-jobs ul {
    border-collapse: collapse;
    display: table;
    list-style: none;
    -webkit-padding-start: 0;
    width: 100%;
}

#employee-jobs ul li {
    border-bottom: 1px solid #333;
    display: table-row;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
